<h1>New Kitten</h1>

<%= form_with model: @kitten do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @kitten.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :age %><br>
    <%= form.number_field :age, in:1..30 %>
  </div>

  <div>
    <%= form.label :cuteness %><br>
    <%= form.text_field :cuteness %>
  </div>

  <div>
    <%= form.label :softness %><br>
    <%= form.text_field :softness %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
