<h1>New Kitten</h1>

<%= form_with model: @kittendo |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :age %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
